In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [5]:
bycomp = df.groupby('Company')

In [6]:
bycomp

In [7]:
bycomp.mean()

C:\Users\91755\AppData\Local\Temp\ipykernel_12652\3297218530.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bycomp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0