In [11]:
import pandas as pd
import numpy as np

In [12]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
from numpy.random import randn

In [16]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [17]:
df

             A         B
G1 1 -0.125617  0.967771
   2  0.992986  0.127130
   3 -1.525549  1.513496
G2 1 -2.016095 -1.176685
   2  0.084618 -1.263947
   3  0.641006 -0.311611

In [18]:
df.loc['G1']

          A         B
1 -0.125617  0.967771
2  0.992986  0.127130
3 -1.525549  1.513496

In [19]:
df.loc['G1'].loc[1]

A   -0.125617
B    0.967771
Name: 1, dtype: float64

In [24]:
df.index.names

FrozenList([None, None])

In [27]:
df.index.names = ['Groups','Num']

In [28]:
df

                   A         B
Groups Num
G1     1   -0.125617  0.967771
       2    0.992986  0.127130
       3   -1.525549  1.513496
G2     1   -2.016095 -1.176685
       2    0.084618 -1.263947
       3    0.641006 -0.311611

In [31]:
df.loc['G2'].loc[2]['B']

-1.263947110222798

In [32]:
df.xs(1,level = 'Num')

               A         B
Groups
G1     -0.125617  0.967771
G2     -2.016095 -1.176685